.butt{
  text-align: center;
}
head{
  text-align: centre;
}

#mainMenu {
	margin:10px;
	width:1000px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:150px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

input {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    text-align: right;
    border: none;
    outline: none;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  button {
    font-size: 2rem;
    width: 12%;
    height: 5rem;
    border: 2px;
    outline: none;
    background-color: #eee;
    transition: all 0.2s ease;
    margin:auto;
    
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    background-color: #ccc;
  }
  
  button:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    background-color: #66cb57;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #eea043;
  }
  
  button[type="submit"]:active {
    background-color: #d4993c;
  }
  
  button[type="clear"] {
    background-color: #9bc8e9;
    color: #fff;
  }
  
  button[type="clear"]:hover {
    background-color: #eea043;
  }

  button[type="clear"]:active {
    background-color: #d4993c;
  }
  